@font-face {
  font-family: "IranSans";
  src: local("IranSans"),
    url("./Utilities/Fonts/IranSans.ttf") format("truetype");
  font-weight: normal;
}
body {
  margin: 0;
  font-family: "IranSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
}


code {
  font-family: "IranSans", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
